/*請在這裹撰寫你的CSS*/

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



table {
  /* border-collapse: collapse; */
  width: 95%;
  /* position: absolute;
  left: 15px; */
  table-layout: fixed;
  /* border: 3px double #999; */
  /* border-bottom: 2px solid black; */
  height: 400px;
  background-color: rgb(176, 176, 176);
  font-size: 30px;
  color: rgb(121, 77, 255);
  box-shadow: 5px 5px 1px white, 10px 10px 1px rgb(213, 213, 213);
}

th {
  border: 2px solid white;
}

.td-div {
  position: relative;
}

td {
  /* border: 1px solid #999; */
  /* padding: 5px 10px; */
  /* text-align: center; */
  border: 2px solid white;
  vertical-align: bottom;
  text-align: right;
  padding: 5px;
  /* font-family:'Special+Elite'; */
  font-family: 'Oregano', cursive;}

td:hover {
  font-family: 'Shrikhand';
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 60px; */
  /* position: absolute;
    bottom: 70px;
    left: 80px; */
}

.box > a {
  /* background-color: cornflowerblue; */
  display: block;
  width: 100px;
  height: 15vh;
  text-align: center;
  line-height: 15vh;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

aside {
  /* width: 300px; */
  width: 350px;
  height: 550px;
  background-color: turquoise;
  border-radius: 0 0 0 30px;
}

aside > img {
  max-width: 100%;
  height: 100%;
  border-radius: 0 0 0 30px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 550px;
  background-color: rgba(120, 120, 120, 0.388);
  border-radius: 0 0 30px;
}

.saying {
  width: 100%;
  height: 100px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.today-weekend {
  color: rgb(0, 0, 0);
  /* background-color: chocolate; */
  text-decoration: underline;
  background-color: white;
  font-weight: bold;
}

.weekend {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.today {
  text-decoration: underline;
  background-color: white;
}

.month-year {
  /* justify-content: space-between; */
  height: 150px;
  position: relative;
  width: 100%;
  font-family:'Frijole';
}

.month {
  top: 50%;
  position: absolute;
  left: 15px;
  font-size: 55px;
  transform: translate(0, -50%);
  color: rgb(174, 147, 255);
  border-bottom: 8px groove white;

  /* border:2px solid white; */
}

.year {
  position: absolute;
  right: 10px;
  top: -10px;
  font-size: 60px;
  color: gold;
  background: linear-gradient(to top, gold, rgba(3, 26, 119, 0.491));
  background: -webkit-linear-gradient(to top, gold, rgba(3, 26, 119, 0.495));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-family: 'Permanent Marker', cursive;
}

.prev {
  transition: transform 0.9s ease; /* 添加 transition 属性 */
  position: relative;
  left: 88px;
  border-left: 6px solid rgba(255, 255, 255, 0.498);
}

.prev:hover {
  transform: translateX(-68px); /* 在悬浮时应用移动效果 */
}

.next {
  transition: transform 0.9s ease; /* 添加 transition 属性 */
  position: relative;
  right: 88px;
  border-right: 6px solid rgba(255, 255, 255, 0.498);
}

.next:hover {
  transform: translateX(68px); /* 在悬浮时应用移动效果 */
}

.aside-div {
  z-index: 1;
}

.main-div {
  z-index: 1;
}

.clock {
  font-size: 24px;
  font-weight: bold;
  font-size: 35px;
}

.big-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./images/backgrounds/bg14_c.png");
  background-position: top;
  /* background-size:cover; */
  /* background-repeat: no-repeat; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: 10px;
}

.container2 {
  width: 1200px;
  height: 750px;
}

.container3 {
  /* margin-left: 5vw; */
  width: 13vw;
}

.header {
  width: 950px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  border-radius: 30px 30px 0 0;
  border: 8px ridge rgb(82, 90, 212);
  border-bottom: 0;
}

.title {
  position: absolute;
  left: 10px;
  top: -15px;
  font-size: 45px;
  font-weight: bold;
  background: linear-gradient(to right, white, rgb(113, 113, 113));
  background: -webkit-linear-gradient(to right, white, rgb(113, 113, 113));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Gloria Hallelujah', cursive;}

.none {
  width: 250px;
}

.clock > span {
  display: inline-block;
  text-align: center;
}

.clock > span:nth-child(odd) {
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
}

.clock > span:nth-child(1) {
  background-color: black;
  color: white;
}

.clock > span:nth-child(even) {
  color: rgb(176, 176, 176);
}

.return > a {
  color: white;
  font-size: 50px;
}

/* 需要它來產生旋轉 360 度的效果 */
@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}

.return {
  /* 跟上面定義的 circle 效果搭配使用 */
  animation: circle 4s linear 0s infinite; /* 添加 transition 属性 */
}

form {
  display: flex;
  flex-direction: column;
  height: 30vh;
  /* justify-content: space-around; */
  font-size: 50px;
  width: 80%;
  justify-content: space-evenly;
}

label {
  width:40%;
  display:inline-block;
  font-size:30px;
}

input {
  text-align: center;
  background-color: rgba(255, 0, 0, 0);
  font-size: 20px;
  color: rgb(146, 118, 231);
  /* border:0; */
  background-color: rgba(0, 0, 0, 0.495);
  border-radius: 10px;
  width:50%;
  height:50%;
}

input[type="submit"] {
  width: 35%;
  height:100%;
  /* margin: 0 auto; */
}

select {
  text-align: center;
  height:50%;
  font-size: 20px;
  width:50%;
}

.search {
  font-size: 40px;
}

.fa-star-and-crescent {
  font-size: 50px;
  line-height: 15vh;
  color: white;
}

.search {
  color: white;
}
