/*請在這裹撰寫你的CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table,
td {
  /* border:2px solid white;
  table-layout: fixed; */
}

table {
  border-collapse: collapse;
  width: 95%;
  position: absolute;
  left: 15px;
  table-layout: fixed;
  /* border: 3px double #999; */
  border-bottom:2px solid black;
  height:250px;
}


th {
  border-top:2px solid black;
}

td {
  /* border: 1px solid #999; */
  /* padding: 5px 10px; */
  text-align: center;
  /* height:60px; */
  /* width: 80px;
  height: 80px;
  border-radius: 50%; */
  /* background-color: yellow; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:60px;

}

.container > a {
  background-color: cornflowerblue;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

aside {
  /* width: 300px; */
  width:250px;
  height: 400px;
  background-color: turquoise;
}

main {
  width:450px;
  height: 400px;
  background-color: rgba(156, 156, 156, 0.639);
  /* padding-top: 20px; */
  position: relative;
}

.main-div {
  /* filter:blur(3px); */
}

.today {
  background-color: chocolate;
}

.month-year {
  display:flex;
  /* justify-content: space-between; */
  align-items:center;
  height:100px;
  position:relative;
}

.month {
  position:relative;
  left:15px;
  font-size:35px;
}

.year {
  position:absolute;
  right:10px;
  top:15px;
  font-size:25px;
}